<div data-sly-use.books="com.trainingproject.core.models.AuthorBooks">
    <h1>${books.authorName} Books</h1>
    ===================Multifield with single field=============
    <div data-sly-list.item="${books.authorBooks}">
         ---------------Book : ${itemList.count}--------------
        <p> Book : <b>${item} </b></p>
    </div>
    <p> ALL Book : <b>${books.authorBooks @ join=', '}</b></p>

    ========================== USING MAP ================================
    <div data-sly-list.item2="${books.bookDetailsWithMap}">
        ---------------Book : ${itemList.count}--------------
        <p> Book : <b>${item2.bookname} </b></p>
        <p> Subject : <b>${item2.booksubject}</b> </p>
        <p> Publish : <b>${item2.publishyear}</b> </p>
    </div>



</div>





